@model SistemadeCompras.Models.OrdenCompra

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que deseas eliminar esta orden?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("<- Atrás", "Index")
        </div>
    }
</div>
